<footer>
    <div class="index-footer">
      <div class="text-center p-4 mt-4 mb-3" style="background-color: rgba(0, 0, 0, 0.321);">
        © 2024 Copyright:
        <a class="footer-link text-reset fw-bold" href="/posts">QuoraClone.com</a>
      </div>
    </div>
  </footer>