<% layout('layouts/boilerplate') %>
<h2>godhand <h2/>
<body>
    
    <div class="about-us">
        <h1 style="color: gray;background-color: black; margin-left: 180px;">About Us</h1>


   <!-- 1 -->
        <div class="container-about">
          <div class="ball-1-about"></div>
          <div class="ball-2-about"></div>
          <div class="ball-3-about"></div>
    
          <div class="box-about">
            <div class="contains-about">
              <div class="section-1-about">
                <h1>Name: Nitin Singh </h1><br>
                <!-- <h1>To Quora Clone</h1> -->
                <p><b><span>Course: </span>Bachelor of Technology</b></p>
                <p><b><span>Branch: </span>Computer Science and Engineering</b></p>
                <p><b><span>Roll No: </span>0306CS211054</b></p>
              </div>
    
              <div class="section-2-about">
                <img src="nitin.jpg"  alt="Some error in loading image" height="50px" width="50px">
              </div>
            </div>
          </div>
        </div>



  <!-- 2 -->
        <div class="container-about">
        <div class="ball-1-about"></div>
        <div class="ball-2-about"></div>
        <div class="ball-3-about"></div>
  
        <div class="box-about">
          <div class="contains-about">
            <div class="section-1-about">
              <h1>Name: Dipendra Patel </h1><br>
              <!-- <h1>To Quora Clone</h1> -->
              <p><b><span>Course: </span>Bachelor of Technology</b></p>
              <p><b><span>Branch: </span>Computer Science and Engineering</b></p>
              <p><b><span>Roll No: </span>0306CS211034</b></p>
            </div>
  
            <div class="section-2-about">
              <img src="dipendra.jpg"  alt="Some error in loading image" height="50px" width="50px">
            </div>
          </div>
        </div>
      </div>   
  
  
      <!-- 3 -->
      <div class="container-about">
        <div class="ball-1-about"></div>
        <div class="ball-2-about"></div>
        <div class="ball-3-about"></div>
  
        <div class="box-about">
          <div class="contains-about">
            <div class="section-1-about">
              <h1>Name: Anoop Singh </h1><br>
              <!-- <h1>To Quora Clone</h1> -->
              <p><b><span>Course: </span>Bachelor of Technology</b></p>
              <p><b><span>Branch: </span>Computer Science and Engineering</b></p>
              <p><b><span>Roll No: </span>0306CS211018</b></p>
            </div>
  
            <div class="section-2-about">
              <img src="anoop.jpg"  alt="Some error in loading image" height="50px" width="50px">
            </div>
          </div>
        </div>
      </div>
  
  
      <!-- 4 -->
      <div class="container-about">
        <div class="ball-1-about"></div>
        <div class="ball-2-about"></div>
        <div class="ball-3-about"></div>
  
        <div class="box-about">
          <div class="contains-about">
            <div class="section-1-about">
              <h1>Name: Piyush Singh </h1><br>
              <!-- <h1>To Quora Clone</h1> -->
              <p><b><span>Course: </span>Bachelor of Technology</b></p>
              <p><b><span>Branch: </span>Computer Science and Engineering</b></p>
              <p><b><span>Roll No: </span>0306CS211058</b></p>
            </div>
  
            <div class="section-2-about">
              <img src="piyush.jpg"  alt="Some error in loading image" height="50px" width="50px">
            </div>
          </div>
        </div>
      </div>
  
  
      <!-- 5 -->
      <div class="container-about">
        <div class="ball-1-about"></div>
        <div class="ball-2-about"></div>
        <div class="ball-3-about"></div>
        <div class="box-about">
          <div class="contains-about">
            <div class="section-1-about">
              <h1>Name: Rahul Ku. Chaudhari </h1><br>
              <!-- <h1>To Quora Clone</h1> -->
              <p><b><span>Course: </span>Bachelor of Technology</b></p>
              <p><b><span>Branch: </span>Computer Science and Engineering</b></p>
              <p><b><span>Roll No: </span>0306CS211068</b></p>
            </div>
  
            <div class="section-2-about">
              <img src="rahul.jpg"  alt="Some error in loading image" height="50px" width="50px">
            </div>
          </div>
        </div>
      </div>
      </div>

</body>
